* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.title__container {
    padding: 2rem 4rem;
    background-color: white;
    max-width: 64rem;
    margin: 2rem auto;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
}

.title {
    font-family: 'Kalam', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

.app {
    max-width: 64rem;
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
}

.form {
}

.form__input-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.form__input {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__input span {
    font-size: 1.125rem;
    font-family: 'Kalam', sans-serif;
    font-weight: 600;
}

.form__input input {
    width: 100%;
    border: 2px solid #0c0a09;
    font-weight: 400;
    font-size: 1.125rem;
    padding: 0.5rem;
    font-family: 'Kalam', sans-serif;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.form__select {
    padding: 0.5rem;
    font-size: 1.125rem;
    font-family: 'Kalam', sans-serif;
    font-weight: 400;
    border: 2px solid #0c0a09;
    border-radius: 0.25rem;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    background-color: white;
}

.form__button {
    padding: 0.5rem;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: white;
    cursor: pointer;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: "Kalam", sans-serif;
    font-size: 1.25rem;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.table th,
.table td {
    padding: 0.5rem;
    border-color: #0c0a09;
    border-style: solid;
    border-width: 2px 4px 3px 4px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.table th:last-child,
.table td:last-child {
    width: 25%;
}

.table td:last-child {
    text-align: right;
}