* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.title {
    font-family: 'Libre Barcode 128 Text', sans-serif;
    font-size: 8rem;
    font-weight: 300;
    text-align: center;
    margin: 2rem 0;
}
